.home-container {
  height: 100%;
  padding: 20px 50px;
  background: linear-gradient(white, var(--b4));
}

.align-bottom {
}

.plan-card-space {
  margin-top: 15px;
  margin-bottom: 15px;
}

