.new-group-button {
  width: 50px !important;
  height: 50px !important;
  cursor: pointer;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.new-group-button .material-icons {
  font-size: 30px;
}
