.home-container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--m0);
  padding: 10px 20px;
}

.home-container-window {
  flex: 1 0 auto;
  overflow: auto;
}

.home-title {
  text-align: center;
  font-size: 1.3em;
}

.home-container-footer {
  flex: 0 0 auto;

}
