<div class="ideas-card flex-col">
  <div class="ideas-card-main-container flex">
    <img class="ideas-card-thumbnail" ng-src={{$ctrl.event.imageUrl}} alt="EventPicture">
    <div class="ideas-card-info-container flex-col">
      <a class="ideas-card-header" ui-sref="^.idea({ideaId: $ctrl.event._id})">{{$ctrl.event.title}}</a>
      <div class="ideas-card-details-container flex-col">
        <div class="ideas-card-details-desc"><span><b>Details:</b>{{$ctrl.event.description}}</span></div>
      </div>
    </div>
    <div class="ideas-card-admin-delete-container">
      <i class="material-icons">delete</i>
    </div>
  </div>
  <div class="ideas-card-footer flex">
    <div class="ideas-card-likes-wrapper flex">
      <div ng-click="$ctrl.upVote()" class="ideas-card-vote flex"><i class="material-icons">thumb_up</i></div>
      <div class="ideas-card-likes">{{$ctrl.totalVotes}}</div>
      <div ng-click="$ctrl.downVote()" class="ideas-card-vote flex"><i class="material-icons">thumb_down</i></div>
    </div>
    <div class="ideas-card-actions flex">
      <a ui-sref="app.plan.planner.promoteIdea({eventId: $ctrl.event._id})">Schedule</a>
    </div>
    <div class="ideas-card-comment-wrapper flex">
      <div class="ideas-card-comment-icon flex"><i class="material-icons">comment</i></div>
    </div>
  </div>
</div>
