.planner-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  overflow: auto;
}

.planner-top-nav {
  height: 40px;
  display: flex;
  justify-content: space-around;
  background-color: var(--lt);
  border-top: 1px solid var(--da);
  border-bottom: 1px solid var(--da);
}

.planner-nav-item-container {
  flex: 1 0 0;
  border-right: 1px solid var(--da);
}

.planner-nav-item-container:last-child {
  border-right: none;
}

.planner-nav-item-container a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--dk5);
  font-size: 1.2em;
  font-variant: small-caps;
}

.planner-nav-item-active {
  background-color: var(--da);
}

.planner-nav-item-active a {
  color: white;
}

.planner-nav-item-container:hover:not(.planner-nav-item-active) a {
  background-color: var(--la);
}
