* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.h100 { height: 100%; }
.w100 { width: 100%; }

.bgc-0 {
  background-color: var(--m0);
}

.flex-window {
  flex: 1 0 0;
  min-height: 0;
  padding: 10px;
  overflow: auto;
}

.full-window {
  height: 100%;
  padding: 10px;
  overflow: auto;
}

.header {
  text-align: left;
  font-size: 1.4em;
  padding-left: 5px;
  color: var(--dk3);
  border-bottom: 1px solid var(--la);
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex: 0 0 auto;
}

.header a,
.header span {
  display: flex;
  align-items: center;
}

.header .material-icons {
  font-weight: bold;
  font-size: 1.4em;
  margin: 0 5px 0 -10px;
}

.header-shadow {
  box-shadow: 0 1px 1px var(--dk5);
}

.card-shadow {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
    0 3px 1px -2px rgba(0,0,0,0.12),
    0 1px 5px 0 rgba(0,0,0,0.2) !important;
  background-color: var(--lt);
}

.card-padding {
  padding: 10px;
}

.dropdown-menu {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
    0 3px 1px -2px rgba(0,0,0,0.12),
    0 1px 5px 0 rgba(0,0,0,0.2) !important;
  top: calc(100% - 5px);
}

.dropdown-item {
  color: var(--dk3) !important;
  text-decoration: none !important;
}

.dropdown-item:active {
  color: var(--lt) !important;
  background-color: var(--m5);
}

.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}

.dropdown-toggle::after {
    display:none
}

/* Some overrides for Material-Design and MD-Pickers styles */
.mdp-datepicker-date,
.mdp-datepicker-year,
.mdp-timepicker-time {
  color: white !important;
}

.md-icon-button.md-raised.md-accent,
.md-icon-button.md-raised.md-primary {
  font-weight: bold;
}

:root {

  /*-- white base: #f6f4ee;*/
  --lt: hsla(40, 31%, 100%, 1);

  /* light accent base: #B1A8B2;*/
  --la: hsla(294, 0%, 68%, 1);
  --lla: hsla(294, 0%, 92%, 1);

  /* primary color, m3 base: #73C2F1;*/
  --m0: hsla(203, 30%, 88%, 1);
  --m1: hsla(203, 95%, 92%, 1);
  --m2: hsla(202, 86%, 80%, 1);
  --m3: hsla(202, 82%, 70%, 1);
  --m4: hsla(203, 75%, 60%, 1);
  --m5: hsla(202, 66%, 50%, 1);

  --m3tr1: hsla(202, 82%, 70%, .1);
  --m3tr2: hsla(202, 82%, 70%, .2);
  --m3tr5: hsla(202, 82%, 70%, .5);

  /*--da: #758197;*/
  --da: hsla(219, 5%, 53%, 1);

  /*--dk: #3669B1;*/
  --dk1: hsla(215, 54%, 65%, 1);
  --dk2: hsla(215, 54%, 55%, 1);
  --dk3: hsla(215, 54%, 45%, 1);
  --dk4: hsla(215, 54%, 35%, 1);
  --dk5: hsla(215, 54%, 25%, 1);

  --tr2: hsla(0,0%,100%,.2);
  --tr5: hsla(0,0%,100%,.5);

}

/* Make scrollbar invisible */
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}


/*  flex utility classes  */
.awg-flex { display: flex; }
.awg-flex-col { display: flex; flex-direction: column; }
.awg-flex-start { justify-content: flex-start; }
.awg-flex-end { justify-content: flex-end; }
.awg-flex-center { justify-content: center; }
.awg-space-around { justify-content: space-around; }
.awg-space-between { justify-content: space-between; }
.awg-flex-align-center { align-items: center; }
.awg-flex-align-start { align-items: flex-start; }
.awg-flex-align-end { align-items: flex-end; }
.awg-flex-align-stretch { align-items: stretch; }
.awg-flex-1 { flex: 1 0 0; }
.awg-flex-0 { flex: 0; }
.awg-overflow { overflow: auto; }
