* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.h100 { height: 100%; }

.flex-window {
  flex: 1 0 0;
  min-height: 0;
}

.header-shadow {
  box-shadow: 0 1px 1px var(--dk5);
}

.card-shadow {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
    0 3px 1px -2px rgba(0,0,0,0.12),
    0 1px 5px 0 rgba(0,0,0,0.2) !important;
}

.dropdown-menu {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
    0 3px 1px -2px rgba(0,0,0,0.12),
    0 1px 5px 0 rgba(0,0,0,0.2) !important;
}

.dropdown-item {
  color: var(--dk3) !important;
  text-decoration: none !important;
}

.dropdown-item:active {
  color: var(--lt) !important;
  background-color: var(--m5);
}

.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}

.dropdown-toggle::after {
    display:none
}

:root {

  /*-- white base: #f6f4ee;*/
  --lt: hsla(40, 31%, 100%, 1);

  /* light accent base: #B1A8B2;*/
  --la: hsla(294, 0%, 68%, 1);
  --lla: hsla(294, 0%, 92%, 1);

  /* primary color, m3 base: #73C2F1;*/
  --m0: hsla(203, 30%, 88%, 1);
  --m1: hsla(203, 95%, 92%, 1);
  --m2: hsla(202, 86%, 80%, 1);
  --m3: hsla(202, 82%, 70%, 1);
  --m4: hsla(203, 75%, 60%, 1);
  --m5: hsla(202, 66%, 50%, 1);

  --m3tr1: hsla(202, 82%, 70%, .1);
  --m3tr2: hsla(202, 82%, 70%, .2);
  --m3tr5: hsla(202, 82%, 70%, .5);

  /*--da: #758197;*/
  --da: hsla(219, 5%, 53%, 1);

  /*--dk: #3669B1;*/
  --dk1: hsla(215, 54%, 65%, 1);
  --dk2: hsla(215, 54%, 55%, 1);
  --dk3: hsla(215, 54%, 45%, 1);
  --dk4: hsla(215, 54%, 35%, 1);
  --dk5: hsla(215, 54%, 25%, 1);

  --tr2: hsla(0,0%,100%,.2);
  --tr5: hsla(0,0%,100%,.5);

}

/* Make scrollbar invisible */
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}


/*  flex utility classes  */
.flex { display: flex; }
.flex-col { display: flex; flex-direction: column; }
.flex-start { justify-content: flex-start; }
.flex-end { justify-content: flex-end; }
.flex-center { justify-content: center; }
.space-around { justify-content: space-around; }
.space-between { justify-content: space-between; }
.flex-align-center { align-items: center; }
.flex-align-start { align-items: flex-start; }
.flex-align-end { align-items: flex-end; }
.flex-align-stretch { align-items: stretch; }
.flex-1 { flex: 1 }
.flex-0 { flex: 0 }
.overflow { overflow: auto; }
