<!DOCTYPE html>
<html lang="en">
<head>
  <base href="/" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>StartSomething</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i|Montserrat:300,300i,500,500i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlWkHu1TwP-FJhDmZB6vpTl8QfUc5zG-0&libraries=places"></script>
  {{#if newToken}}
    <script type="text/javascript">localStorage.setItem('awg_jwt', "{{newToken}}");</script>
  {{/if}}
  {{#if googleAccessToken}}
    <script type="text/javascript">localStorage.setItem('awg_google_access_token', "{{googleAccessToken}}");</script>
  {{/if}}
  {{#if newUser}}
    <script type="text/javascript">localStorage.setItem('new_user', "true");</script>
  {{/if}}
</head>
<body>
  {{{body}}}
</body>
</html>
