<div class="transaction-card-container">
  <div ng-if="$ctrl.ExpensesService.filterBy !== 'Expense'" class="transaction-card-detail-description">{{$ctrl.transaction.description}}</div>
  <div class="transaction-card-detail-summation">
    <div class="transaction-card-avatar">
      <img ng-if="$ctrl.transaction.from.profilePic" ng-src="{{$ctrl.transaction.from.profilePic}}" class="avatar">
      <i ng-if="!$ctrl.transaction.from.profilePic" class="material-icons">account_circle</i>
    </div>
    <span class="transaction-card-summary">
      <b>{{$ctrl.transaction.from.name}}</b> owed <span ng-class="{'transaction-card-negative': $ctrl.transaction.from._id === $ctrl.userId, 'transaction-card-positive': $ctrl.transaction.to._id === $ctrl.userId}">{{$ctrl.transaction.amount | currency:"$"}}</span> to <b>{{$ctrl.transaction.to.name}}</b>
    </span>
    <div class="transaction-card-avatar">
      <img ng-if="$ctrl.transaction.to.profilePic" ng-src="{{$ctrl.transaction.to.profilePic}}" class="avatar">
      <i ng-if="!$ctrl.transaction.to.profilePic" class="material-icons">account_circle</i>
    </div>
    </div>

</div>
