<div class="transaction-card-container">
  <div class="transaction-card-detail-item flex-1">{{$ctrl.transaction.description}}</div>
  <div class="transaction-card-detail-item">{{$ctrl.transaction.from.name}}</div>
  <div class="transaction-card-detail-item">{{$ctrl.transaction.to.name}}</div>
  <div class="transaction-card-detail-item">{{$ctrl.transaction.amount | currency:"$"}}</div>
  <div class="transaction-card-menu-item" ng-click="$ctrl.settleTransaction($ctrl.transaction._id)">Settle</div>
  <div class="transaction-card-menu-item" ng-click="$ctrl.removeTransaction($ctrl.transaction._id)">Delete</div>
</div>
