.transaction-card-container {
  justify-content: space-around;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
      0 3px 1px -2px rgba(0,0,0,0.12),
      0 1px 5px 0 rgba(0,0,0,0.2) !important;
  background-color: var(--lt);
  padding: 10px;
  margin-bottom: 15px;
  display: flex;
}


.transaction-card-detail-item {
  padding: 5px 0;
  color: var(--dk4);
  flex: 1 1 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-word;
}

.transaction-card-menu-item {
  padding: 5px;
}

.transaction-card-positive {
  color: green;
}

.transaction-card-negative {
  color: palevioletred;
}
