.transaction-card-container {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
      0 3px 1px -2px rgba(0,0,0,0.12),
      0 1px 5px 0 rgba(0,0,0,0.2) !important;
  background-color: var(--lt);
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
}

.transaction-card-detail-description {
  padding: 5px 0;
  flex: 1 0 15%;
  word-break: break-word;
}

.transaction-card-detail-summation {
  padding: 5px 0;
  color: var(--dk4);
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  word-break: break-word;
  font-size: 0.9em;
}

.transaction-card-menu-item {
  padding: 5px;
}

.transaction-card-positive {
  color: green;
}

.transaction-card-negative {
  color: palevioletred;
}
