<div class="search-input-block">
  <label for="plan-image">Last, how about a background picture?</label>
  <div class="search-image-container">
    <input class="awgl-form-input form-control" name="plan-image"
      type="text" placeholder="Image search" ng-model="$ctrl.search"/>
      <div class="search-button awgd-button" name="image-search" ng-click="$ctrl.imageSearch($ctrl.search)">Search</div>
  </div>
</div>
<div class="loading-spinner" ng-if="$ctrl.spinner">
  <img src="https://assets.dice.com/techpro/img/loading32px.gif">
</div>
<div class="search-images" ng-if="$ctrl.images.length">
  <div ng-repeat="image in $ctrl.images">
    <img class="result-image" ng-click="$ctrl.imageClick($event);" ng-src="{{ image }}" />
  </div>
</div>