.friends-list-container {
  background-color: var(--m0);
}

.friends-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--m5);
  font-size: 1.3em;
  border-bottom: 1px solid var(--la);
  background-color: var(--lt);
  box-shadow: 0 1px 1px var(--dk5);
  padding: 5px 10px;
}

.friends-add-form-mount {
  position: relative;
}

.friends-section-header .material-icons {
  cursor: pointer;
}

.no-friends {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  color: var(--dk5);
  font-size: 1.1em;
}
