<div ng-click="$ctrl.closeForm()"
  class="friends-list-container h100 full-window bgc-0">
  <div class="new-user-box" ng-if="$ctrl.UserService.isNewUser">
    <button type="submit" class="awgd-button" name="continue" ui-sref="app.home">Continue</button>
  </div>
  <div class="friends-section">
    <div class="friends-section-header header awg-flex">
      <a ui-sref="app.home"><i class="material-icons">navigate_before</i></a>
      <span class="awg-flex-1">Friends</span>
      <button ng-click="$ctrl.toggleForm($event)" class="awgd-button">
        Add friends
      </button>
    </div>
    <div ng-if="$ctrl.newFriendOpen" class="friends-add-form-mount">
      <friends-add close-form="$ctrl.closeForm"></friends-add>
    </div>
    <div ng-if="$ctrl.FriendService.friendships.length === 0" class="no-friends">
      <span>Aww - no friends yet, why don't you add somebody?</span>
    </div>
    <friend-card user="fr.to" fr-id="fr._id" type="friend"
    ng-repeat="fr in $ctrl.FriendService.friendships"></friend-card>
  </div>
  <div ng-show="$ctrl.FriendService.inboundReqs.length > 0" class="friends-section">
    <div class="friends-section-header header">
      <span>Pending Friend Requests</span>
    </div>
    <friend-card user="fr.from" fr-id="fr._id" type="pending"
      ng-repeat="fr in $ctrl.FriendService.inboundReqs"></friend-card>
  </div>
  <div ng-if="$ctrl.FriendService.sentReqs.length > 0" class="friends-section">
    <div class="friends-section-header header">
      <span>Sent Friend Requests</span>
    </div>
    <friend-card user="fr.to" fr-id="fr._id" type="sent"
      ng-repeat="fr in $ctrl.FriendService.sentReqs"></friend-card>
  </div>
</div>
