.friends-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--m5);
  font-size: 1.3em;
  border-bottom: 1px solid var(--la);
  padding: 5px 10px;
}

.friends-add-form-mount {
  position: relative;
}

.friends-section-header .material-icons {
  cursor: pointer;
}
