<div class="friends-list-container">
  <div ng-show="$ctrl.pendingFriendRequests.length > 0" class="friends-section">
    <div class="friends-section-header">
      <span>Pending Friend Requests</span>
    </div>
    <friend-card user="fr.from" fr-id="fr._id" type="pending"
      accept="$ctrl.acceptFriendRequest" reject="$ctrl.rejectFriendRequest"
      ng-repeat="fr in $ctrl.pendingFriendRequests"></friend-card>
  </div>
  <div class="friends-section">
    <div class="friends-section-header">
      <span>Friends</span>
      <i ng-click="$ctrl.toggleForm()" class="material-icons">add_circle</i>
    </div>
    <div ng-if="$ctrl.newFriendOpen" class="friends-add-form-mount">
      <friends-add></friends-add>
    </div>
    <friend-card user="fr.to" fr-id="fr._id" type="friend" ng-repeat="fr in $ctrl.friendships"></friend-card>
  </div>
  <div ng-show="$ctrl.sentFriendRequests.length > 0" class="friends-section">
    <div class="friends-section-header">
      <span>Sent Friend Requests</span>
    </div>
    <friend-card user="fr.to" fr-id="fr._id" type="sent"
      cancel="$ctrl.cancelFriendRequest"
      ng-repeat="fr in $ctrl.sentFriendRequests"></friend-card>
  </div>
</div>
