<!-- TODO: Change $ctrl.event to $ctrl.idea once event-router is done -->
<div class="idea-page-container">
  <div class="idea-container">
    <div class="idea-image">
      <button class="btn btn-secondary" ui-sref="app.plan.planner.promoteIdea({eventId: $ctrl.idea._id})">Schedule</button>
      <img ng-src={{$ctrl.idea.imageUrl}} alt="" />
    </div>
    <div class="details-container">
      <h2 class="idea-title">{{$ctrl.idea.title}}</h2>
      <p>{{$ctrl.idea.description}}</p>
    </div>
    <div class="icons-container">
      <div class="voting-container">
        <div ng-click="$ctrl.upvoteEvent($ctrl.ideaId)"><i class="material-icons">thumb_up</i></div>
        <div class="overall-vote">+4</div>
        <div ng-click="$ctrl.downvoteEvent($ctrl.ideaId)"><i class="material-icons">thumb_down</i></div>
      </div>
      <div ng-click="$ctrl.click()"><i class="comment-icon material-icons">comment</i></div>
    </div>
  </div>
  <div class="edit-button-container">
    <button class="edit-button awgd-button" ng-click="$ctrl.invite($ctrl.user.name)">
      <span>Edit Details</span>
    </button>
  </div>
</div>


