.idea-container {
  padding-left: 20px;
  transform: translateY(-40px);
}

img {
  width: 100%;
}

.idea-image {
  display: inline-block;
  position: relative;
}

.idea-image button {
  float: right;
  transform: translateY(48px);
  margin-right: 10px;
}

.idea-title {
  margin-top: 10px;
}

.overall-vote {
  margin: 0px 20px;
}

.edit-button {
  margin-left: 20px;
}