<div class="idea-container flex-col">
  <div class="idea-image">
    <button class="btn btn-secondary" ng-click="$ctrl.EventService.promoteEvent($ctrl.ideaId)">Schedule</button>
    <img ng-src={{$ctrl.event.imageUrl}} alt="" />
  </div>

    <h2 class="idea-title">{{$ctrl.event.title}}</h2>
    <p>{{$ctrl.event.description}}</p>

  <div class="flex space-between">
    <div class="flex space-around">
      <div ng-click="$ctrl.EventService.upvoteEvent($ctrl.ideaId)"><i class="material-icons">thumb_up</i></div>
      <div class="overall-vote">+4</div>
      <div ng-click="$ctrl.EventService.downvoteEvent($ctrl.ideaId)"><i class="material-icons">thumb_down</i></div>
    </div>
    <div ng-click="$ctrl.click()"><i class="material-icons">comment</i></div>
  </div>
</div>
<div class="edit-button">
  <a ui-sref="">
    <div class="text-center">Edit Details</div>
  </a>
</div>


