.expenses-main-container {
}

.expenses-main-add-button-container {
  /*margin: 0px auto 0 auto;
  width: 50%;
  padding-bottom: 25px;*/
  position: fixed;
  bottom: 90px;
  display: flex;
  flex: 1;
  justify-content: center;
  width: 100%;
}
