.expenses-main-add-controls {
  position: fixed;
  bottom: 90px;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  justify-content: space-between;
}

.expenses-main-add-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
