<div class="people-add-container">
  <div class="people-add-header">
    <span>Add your friends to this plan</span>
  </div>
  <div class="people-search-container flex">
    <input class="awgl-form-input form-control" name="search" type="text"
    ng-model="$ctrl.search" ng-model-options="{ debounce: 100 }"
    placeholder="Filter friends list" required/>
  </div>
  <people-card ng-repeat="available in $ctrl.availableFriends | filter:{$:$ctrl.search}"
    user="available.user" type="available.status"
    include="$ctrl.include" exclude="$ctrl.exclude"
  ></people-card>
</div>
