<div class="people-add-container h100">
  <div class="people-add-header">
    <span>Add your friends to this plan</span>
  </div>
  <div class="people-search-container flex">
    <input class="awgl-form-input form-control" name="search" type="text"
    ng-model="$ctrl.search" ng-model-options="{ debounce: 100 }"
    placeholder="Filter friends list" required/>
  </div>
  <people-card ng-repeat="friend in $ctrl.availableFriends | filter:$ctrl.filterFriends"
    user="friend.user" type="select" checked="friend.status"
    toggle="$ctrl.toggleSelect"
  ></people-card>
  <div class="people-add-controls">
    <a ui-sref="^.list" class="people-add-back-container">
      <button class="awgd-button"><i class="material-icons">arrow_back</i></button>
    </a>
    <div class="people-add-save-container">
      <button ng-click="$ctrl.addToPlan()" class="awgd-button">Add to Plan</button>
    </div>
  </div>
</div>
