.people-add-container {
  overflow: scroll;
}

.people-add-header {
  padding: 5px 10px;
  font-size: 1.3em;
  color: var(--m5);
}

.people-add-controls {
  position: fixed;
  bottom: 90px;
  left: 50%;
  margin-left: -134px;
  /*transform: translate(-50%, 0);*/
  display: flex;
  justify-content: space-between;
}

.people-add-save-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.people-add-save-container .awgd-button {
  padding-left: 20px;
  padding-right: 20px;
}

.people-add-back-container {
  margin-right: 30px;
}

.people-add-controls .material-icons {
  display: flex;
}
