.make-plan-container {
  height: 100%;
  padding: 20px 50px;
  background: linear-gradient(white, var(--m1));
}

.make-plan-header {
  margin: 10px 0 20px 0;
  text-align: center;
}

.make-plan-header span {
  font-size: 1.7em;
  color: var(--dk4);
}

.make-plan-input-block {
  margin-bottom: 20px;
}

.make-plan-input-block label {
  color: var(--dk3);
  font-size: 1.1em;
}

.make-plan-input-block div {
  margin-top: -.5rem;
  margin-bottom: .5rem;
}

.make-plan-input {
  width: 100%;
}

.make-plan-submit-button-container {
  width: 100%;
}
