<div class="make-plan-container flex-col flex-start flex-align-stretch">
  <div class="make-plan-header"><span>Awesome! <br /> Let's get started</span></div>
  <div class="make-plan-form-container">
    <form name="newPlan" ng-submit="$ctrl.submit()">
      <div class="make-plan-input-block">
        <label for="plan-title">First, give your plan a name:</label>
        <input class="awgl-form-input form-control" name="plan-title" ng-model="$ctrl.title"
          type="text" placeholder="Plan name" />
      </div>
      <div class="make-plan-input-block">
        <label for="description">Next, what you want to do?</label>
        <div class="make-plan-input-block-small"><small>(if you don't know yet, that's totally fine)</small></div>
        <textarea class="awgl-form-input form-control" name="plan-desc" ng-model="$ctrl.desc"
          type="text" rows=2></textarea>
      </div>
      <div class="make-plan-input-block">
        <label for="plan-image">Last, how about a background picture?</label>
        <div class="make-plan-image-search-container">
          <input class="awgl-form-input form-control" name="plan-image"
            type="text" placeholder="Image search" ng-model="$ctrl.search"/>
            <plan-card delete-plan="$ctrl.deletePlan" plan="plan" ng-repeat="plan in $ctrl.plans"></plan-card>
            <div class="search-button awgd-button" name="image-search" ng-click="$ctrl.imageSearch($ctrl.search)">Search</div>
        </div>
      </div>
      <div class="loading-spinner" ng-if="$ctrl.spinner">
        <img src="https://assets.dice.com/techpro/img/loading32px.gif">
      </div>
      <div class="make-plan-images" ng-if="$ctrl.images.length">
        <div ng-repeat="image in $ctrl.images">
          <img class="result-image" ng-click="$ctrl.imageClick($event);" ng-src="{{ image }}" />
        </div>
      </div>
      <div ng-if="$ctrl.formWarning" class="awgl-form-warning flex flex-center">
        <span>{{$ctrl.formWarning}}</span>
      </div>
      <div class="make-plan-submit-container flex flex-center">
        <div class="make-plan-submit-button-container">
          <button type="submit" class="awgl-button" name="make-plan-submit">Start Planning</button>
        </div>
      </div>
    </form>
  </div>
</div>
