<div class="make-group-container full-window overflow awg-flex-col awg-flex-start awg-flex-align-stretch">
  <div class="make-group-header header"><span>New Group</span></div>
  <div class="make-group-form-container">
    <form name="newPlan" ng-submit="$ctrl.submit()">
      <div class="make-group-input-block">
        <label class="sr-only" for="group-title">Group name</label>
        <input class="awgl-form-input form-control" name="group-title" ng-model="$ctrl.title"
          type="text" placeholder="Group name" />
      </div>
      <div class="make-group-input-block">
        <label class="sr-only" for="description">Group description</label>
        <textarea class="awgl-form-input form-control" name="group-desc" ng-model="$ctrl.desc"
          type="text" rows=2 placeholder="Group description"></textarea>
      </div>
      <image-search image-url="$ctrl.imageUrl"></image-search>
      <div ng-if="$ctrl.formWarning" class="awgl-form-warning awg-flex awg-flex-center">
        <span>{{$ctrl.formWarning}}</span>
      </div>
      <div class="make-group-submit-container awg-flex awg-flex-center">
        <div class="make-group-submit-button-container">
          <button type="submit" class="awgd-button" name="make-group-submit">Create Group</button>
        </div>
      </div>
    </form>
  </div>
</div>
