<div class="make-group-container flex-col flex-start flex-align-stretch">
  <div class="make-group-header"><span>Awesome! <br /> Let's get started</span></div>
  <div class="make-group-form-container">
    <form name="newPlan" ng-submit="$ctrl.submit()">
      <div class="make-group-input-block">
        <label for="group-title">First, give your group a name:</label>
        <input class="awgl-form-input form-control" name="group-title" ng-model="$ctrl.title"
          type="text" placeholder="Group name" />
      </div>
      <div class="make-group-input-block">
        <label for="description">Next, a short description if you'd like:</label>
        <textarea class="awgl-form-input form-control" name="group-desc" ng-model="$ctrl.desc"
          type="text" rows=2></textarea>
      </div>
      <image-search image-url="$ctrl.imageUrl"></image-search>
      <div ng-if="$ctrl.formWarning" class="awgl-form-warning flex flex-center">
        <span>{{$ctrl.formWarning}}</span>
      </div>
      <div class="make-group-submit-container flex flex-center">
        <div class="make-group-submit-button-container">
          <button type="submit" class="awgl-button" name="make-group-submit">Create Group</button>
        </div>
      </div>
    </form>
  </div>
</div>
