<div class="ideas-container full-window awg-flex-col awg-flex-align-center bgc-0 awg-overflow">
  <div class="ideas-title header">
    <a ui-sref="^.home"><i class="material-icons">navigate_before</i></a>
    <span>Ideas</span>
  </div>
  <ideas-card event-id="idea._id"
    ng-repeat="idea in $ctrl.EventService.ideas | orderBy:$ctrl.sortIdeas:true">
  </ideas-card>
  <new-idea-button ng-if="$ctrl.EventService.ideas.length === 0"
     class="new-idea-button button-center"
     events="$ctrl.EventService.ideas">
  </new-idea-button>
  <new-idea-button ng-if="$ctrl.EventService.ideas.length"
    class="new-idea-button button-bottom"
    events="$ctrl.EventService.ideas">
  </new-idea-button>
</div>
