.ideas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 10px 20px;
  background-color: var(--m0);
}

.new-idea-button {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.button-bottom {
  justify-content: flex-end;
}

.button-center {
  justify-content: center;
}
