.new-idea-button {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.button-bottom {
  justify-content: flex-end;
}

.button-center {
  justify-content: center;
}
