<div class="comments-container">
  <div class="comments-header">
    <div class="comments-show-hide flex flex-end flex-align-center" ng-click="$ctrl.toggleDrawer()">
      <span ng-show="!$ctrl.isOpen">Show Comments</span>
      <span ng-show="$ctrl.isOpen">Hide Comments</span>
      <i class="material-icons">comment</i>
    </div>
  </div>
  <div ng-show="$ctrl.isOpen" class="comments-drawer">
    <div class="comments-list-container">
      <comment-card
        ng-repeat="comment in $ctrl.EventService.comments[$ctrl.eventId]"
        comment="comment">
      </comment-card>
    </div>
    <div class="comments-drawer-new-comment">
      <new-comment event-id="$ctrl.eventId"></new-comment>
    </div>
  </div>
</div>
