<div class="friend-card-container">
  <div class="friend-card-avatar">
    <i class="material-icons">account_circle</i>
  </div>
  <div class="friend-card-content">
    <div class="friend-card-name">{{$ctrl.user.name}}</div>
    <div class="friend-card-email">{{$ctrl.user.email}}</div>
  </div>
  <div class="friend-card-actions">
    <div ng-if="$ctrl.type === 'pending'" class="friend-card-pending-actions">
      <i ng-click="$ctrl.accept($ctrl.frId)" class="material-icons">check</i>
      <i ng-click="$ctrl.reject($ctrl.frId)" class="material-icons">cancel</i>
    </div>
    <div ng-if="$ctrl.type === 'sent'" class="friend-card-sent-actions">
      <i  ng-click="$ctrl.cancel($ctrl.frId)" class="material-icons">cancel</i>
    </div>
    <div ng-if="$ctrl.type === 'friend'" class="friend-card-friend-actions">
    </div>
    <div ng-if="$ctrl.type === 'request'" class="friend-card-friend-actions">
      <i  ng-click="$ctrl.request($ctrl.user._id)" class="material-icons">send</i>
    </div>
  </div>
</div>
