<div ng-if="$ctrl.type"
  class="friend-card-container awg-flex awg-space-between card-shadow">
  <spinner-box busy="$ctrl.busy"></spinner-box>
  <div class="friend-card-avatar">
    <img ng-if="$ctrl.user.profilePic" ng-src="{{$ctrl.user.profilePic}}" class="avatar">
    <i ng-if="!$ctrl.user.profilePic" class="material-icons">account_circle</i>
  </div>
  <div class="friend-card-content">
    <span class="friend-card-name">{{$ctrl.user.name}}</span>
    <span class="friend-card-email">{{$ctrl.user.email}}</span>
  </div>
  <div class="friend-card-actions">
    <div ng-if="$ctrl.type === 'pending'" class="friend-card-pending-actions">
      <i ng-click="$ctrl.accept()" class="material-icons">check</i>
      <i ng-click="$ctrl.reject()" class="material-icons">cancel</i>
    </div>
    <div ng-if="$ctrl.type === 'sent'" class="friend-card-sent-actions">
      <i  ng-click="$ctrl.cancel()" class="material-icons">cancel</i>
    </div>
    <div ng-if="$ctrl.type === 'friend'" class="friend-card-friend-actions">
    </div>
    <div ng-if="$ctrl.type === 'request'" class="friend-card-friend-actions">
      <button ng-click="$ctrl.request()" class="awgd-button">
        <span>Send</span>
      </button>
    </div>
    <div ng-if="$ctrl.type === 'invite'" class="friend-card-friend-actions">
      <button ng-click="$ctrl.invite()" class="awgd-button">
        <span>Invite</span>
      </button>
    </div>
    <div ng-if="$ctrl.type === 'import_invite'" class="friend-card-friend-actions">
      <button disabled class="awgl-button">
        <i class="material-icons friend-card-checked">check</i>
      </button>
    </div>
  </div>
</div>
