<div class="comment-card-container flex">
  <spinner-box busy="$ctrl.busy"></spinner-box>
  <div class="comment-card-header flex-col">
    <div class="comment-card-header-user flex flex-align-center">
      <div ng-if="$ctrl.comment.user.profilePic !== ''" class="comment-avatar">
        <div class="comment-avatar-pic"
             ng-style="{'background-image':'url({{$ctrl.comment.user.profilePic}})'}">
        </div>
      </div>
      <div ng-if="$ctrl.comment.user.profilePic === ''" class="comment-avatar comment-avatar-icon">
        <i class="material-icons">account_circle</i>
      </div>
      <div class="comment-user-name">
        <span>{{$ctrl.comment.user.name}}</span>
      </div>
    </div>
    <div class="comment-time flex">
      <span>{{$ctrl.moment($ctrl.comment.createdAt).calendar()}}</span>
    </div>
  </div>
  <div class="comment-card-text flex flex-align-center">
    <span>{{$ctrl.comment.text}}</span>
  </div>
  <div class="dropdown comment-card-dropdown-container"
    ng-if="$ctrl.menuShouldAppear()">
    <div class="dropdown-toggle" id={{'dd-'+$ctrl.comment._id}} data-toggle="dropdown">
      <i class="material-icons">more_vert</i>
    </div>
    <div class="dropdown-menu dropdown-menu-right">
      <div class="dropdown-item"
        ng-click="$ctrl.handleDeleteClick()">
        Delete Comment
      </div>
    </div>
  </div>
</div>
