<div class="header-container">
  <a ui-sref="app.home" class="header-title">
    <span>{{$ctrl.header}}</span>
  </a>
  <div class="header-user-dropdown-container dropdown">

    <div class="header-user-dropdown-toggle dropdown-toggle awg-flex-col" id="userDropdown"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img ng-if="$ctrl.UserService.user.profilePic" ng-src="{{$ctrl.UserService.user.profilePic}}" class="avatar">
      <i ng-if="!$ctrl.UserService.user.profilePic" class="material-icons">account_circle</i>
      <div class="header-user-menu-name">{{$ctrl.UserService.user.name}}</div>
    </div>

    <div class="header-user-dropdown-menu dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
      <a class="dropdown-item" ui-sref="app.friends.list">Friends</a>
      <a class="dropdown-item" ng-if="$ctrl.UserService.isLoggedIn"
        ng-click="$ctrl.logout()">Logout</a>
    </div>
  </div>
</div>
