<div class="header-container">
  <a ui-sref="app.home" class="header-title">
    <span>{{$ctrl.header}}</span>
  </a>
  <div class="header-user-menu-container">
    <div class="header-user-name"><a ui-sref="app.friends.list">Friends</a></div>
    <div class="header-user-name">{{$ctrl.UserService.user.name}}</div>
    <div class="header-user-avatar">
      <i class="material-icons">account_circle</i>
    </div>
    <div ng-if="$ctrl.UserService.isLoggedIn"
         ng-click="$ctrl.logout()" class="header-logout">
      Logout
    </div>
  </div>
</div>
