.header-container {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: var(--dk3);
}

.header-title {
  color: var(--lt);
  display: flex;
  align-items: center;
  font-size: 1.5em;
  font-style: italic;
  margin-left: 20px;
}

.header-title span {
  font-family: 'Montserrat' !important;
}

.header-container a {
  text-decoration: none !important;
  color: var(--lt);
}

.header-user-dropdown-container {
  height: 100%;
  margin-right: 30px;
}

.header-user-dropdown-toggle {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--lt);
  cursor: pointer;
}

.header-user-dropdown-menu {
  min-width: 5rem;
  text-align: right;
}

.header-dropdown-item-link {
  width: 100%;
  color: var(--dk5) !important;
  font-size: 1em !important;
}

.header-dropdown-item {
  width: 100% !important;
  font-size: 1.1em;
  padding: 0 !important;
  cursor: pointer;
}

.header-dropdown-item:hover {
  background-color: var(--m1) !important;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.header-dropdown-item-link {
  padding: 10px !important;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.header-user-dropdown-container .dropdown-toggle::after {
    display:none
}

.avatar {

}