<div class="login-container">
  <div class="login-header"><span>Away We Go</span></div>
  <div class="login-form-container">
    <form ng-submit="$ctrl.login()">
      <div class="login-input-row flex">
        <label class="sr-only" for="username"></label>
        <div class="login-input-icon input-group-addon"><i class="material-icons">account_circle</i></div>
        <input class="login-input form-control" id="username" ng-model="$ctrl.username"
          placeholder="Username" />
      </div>
      <div class="login-input-row flex">
        <label class="sr-only" for="password"></label>
        <div class="login-input-icon input-group-addon"><i class="material-icons">lock</i></div>
        <input class="login-input form-control" id="password" ng-model="$ctrl.password"
          type="password" placeholder="Password" />
      </div>
      <div class="login-submit-container flex flex-center">
        <div class="login-submit-button-container">
          <button type="submit" class="login-button" id="login">Sign in</button>
        </div>
      </div>
      <div ng-if="$ctrl.formWarning" class="login-form-warning flex flex-center">
        <span>{{$ctrl.formWarning}}</span>
      </div>
    </form>
  </div>
  <div class="login-other-container">
    <div class="login-other-container-item flex flex-center">
      <a ui-sref="signup">Don't have an account? Sign up today</a>
    </div>
  </div>
</div>
