.login-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  overflow: auto;
  padding: 20px 50px;
  background: white;
}

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  overflow: auto;
  padding: 20px 50px;
  background: linear-gradient(135deg, var(--m1), var(--m4));
}

.login-header {
  margin: 50px 0 100px 0;
  text-align: center;
}

.login-header span {
  font-size: 3em;
  color: var(--dk3);
}

.login-submit-container {
  margin: 5px 0;
}

.login-submit-button-container {
  width: 100%;
}

.login-other-container a {
  margin-top: 5px;
  text-decoration: none;
  color: var(--dk3);
}
