.login-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  overflow: auto;
  padding: 20px 50px;
  background: white;
}

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  overflow: auto;
  padding: 20px 50px;
  background: linear-gradient(135deg, var(--dk2), var(--dk5));
}

.login-header,
.signup-header {
  margin: 50px 0 50px 0;
  text-align: center;
  font-size: 3em;
}

.login-header span {
  color: var(--dk3);
}

.signup-header span {
  color: white;
}

.login-submit-container {
  margin: 5px 0;
}

.login-submit-button-container {
  width: 100%;
}

.login-other-container a,
.signup-other-container a {
  margin-top: 5px;
  text-decoration: none;
  color: var(--dk3);
}

.signup-other-container a {
  color: var(--m1);
}

.google-button-label {
  margin-left: 5px;
}