.expenses-add-container {
  padding: 10px;
}

.expenses-added-people-container {
  display: flex;
  justify-content: space-between;
}

.expenses-added-people-area {
  display: flex;
  flex-direction: column;
}

.expenses-add-names-card {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
      0 3px 1px -2px rgba(0,0,0,0.12),
      0 1px 5px 0 rgba(0,0,0,0.2) !important;
  background-color: var(--lt);
  padding: 2.5px;
  margin-bottom: 10px;
  border-radius: 5px;

}

.expenses-add-controls {
  position: fixed;
  bottom: 90px;
  left: 50%;
  margin-left: -134px;
  /*transform: translate(-50%, 0);*/
  display: flex;
  justify-content: space-between;
}

.expenses-add-save-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.expenses-add-save-container .awgd-button {
  padding-left: 20px;
  padding-right: 20px;
}

.expenses-add-back-container {
  margin-right: 30px;
}

.expenses-add-controls .material-icons {
  display: flex;
}
