<div class="expenses-add-container awg-flex-col">

  <div class="expenses-add-form-container">
    <div class="expenses-add-form-header">Create An Expense</div>
    <div class="expenses-add-input-block">
      <input class="awgl-form-input form-control expenses-input" name="expense-description" ng-model="$ctrl.description"
        type="text" placeholder="Describe your Expense" />
    </div>
    <div class="expenses-add-input-block">
      <input ng-change="$ctrl.updateTransactions()" class="awgl-form-input form-control expenses-input" name="expense-amount" ng-model="$ctrl.amount"
        type="number" placeholder="What was the total?" />
    </div>
    <div class="expenses-add-people-share-option">
      <div class="expenses-add-people-share-item">
        <label for="share">Share Equally</label>
        <input  name="share" type="radio" ng-model="$ctrl.transactionType" value="equal"/>
      </div>
      <div class="expenses-add-people-share-item">
        <label for="share">Share Custom</label>
        <input  name="share" type="radio" ng-model="$ctrl.transactionType" value="percentage"/>
      </div>
    </div>

    <div class="expenses-added-people-container">
      <div class="expenses-added-people-area">
        <div class="expenses-add-payer-description"><button class="awgd-button" ng-click="$ctrl.toggleCards(true)">Add Payers</button></div>
        <div ng-show="$ctrl.payerToggle === true" class="ng-show awg-flex-col">
          <expenses-add-people-card
          toggle="$ctrl.togglePayer"
          amount="$ctrl.amount"
          ng-repeat="member in $ctrl.members"
          member="member"
          />
        </div>
      </div>

      <div class="expenses-added-people-area">
        <div class="expenes-add-owers-description"><button class="awgd-button" ng-click="$ctrl.toggleCards()">Add Owers</button></div>
        <div ng-show="$ctrl.owerToggle === true" class="ng-show awg-flex-col">
          <expenses-add-people-card
          toggle="$ctrl.toggleOwer"
          amount="$ctrl.amount"
          ng-repeat="member in $ctrl.members"
          member="member"
          />
        </div>
      </div>
    </div>

    <div ng-if="$ctrl.formWarning" class="awgl-form-warning awg-flex awg-flex-center">
      <span>{{$ctrl.formWarning}}</span>
    </div>

    <div ng-if="$ctrl.transactions.length > 0" class="expenses-added-transactions-header">Added Transactions</div>
    <div ng-repeat="member in $ctrl.transactions" class="expenses-added-transactions-card">{{member.from.name}} owes {{member.amount | currency:"$"}} to {{member.to.name}}</div>

    <div class="expenses-add-controls">
      <a ui-sref="^.main.feed" class="expenses-add-back-container">
        <button class="awgd-button"><i class="material-icons">arrow_back</i></button>
      </a>
      <div class="expenses-add-save-container">
        <button ng-click="$ctrl.addExpense()" class="awgd-button">Save Expense</button>
      </div>
    </div>
  </div>
</div>
