.expenses-add-container {
  padding: 10px;
  height: 100%;
  padding-bottom: 70px;
  overflow: auto;
}



.expenses-add-input-block {
  padding: 10px 0;
}

.expenses-added-people-container {
  justify-content: space-between;
}

.expenses-add-form-header {
  font-size: 1.3em;
  color: var(--dk3);
  text-align: center;
}

.expenses-added-people-area {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  padding: 10px 0;
}

.expenses-added-people-area *:focus {
  outline: none;
}

.expenses-add-owers-description {
  text-align: center;
}

.expenses-add-dropdown-container {
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-end;
}

.expenses-add-dropdown-container div {
  justify-content: flex-end;
}

.expenses-add-names-card {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
      0 3px 1px -2px rgba(0,0,0,0.12),
      0 1px 5px 0 rgba(0,0,0,0.2) !important;
  background-color: var(--lt);
  padding: 2.5px;
  margin-bottom: 10px;
  border-radius: 5px;

}

.expenses-add-controls {
  position: fixed;
  bottom: 90px;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  justify-content: space-between;
}

.expenses-add-save-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.expenses-add-save-container .awgd-button {
  padding-left: 20px;
  padding-right: 20px;
}

.expenses-add-back-container {
  margin-right: 30px;
}

.expenses-add-controls .material-icons {
  display: flex;
}

.expenses-added-transactions-header {
  color: var(--dk3);
  text-align: center;
  font-size: 1.3em;
}

.expenses-added-transactions-card {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
      0 3px 1px -2px rgba(0,0,0,0.12),
      0 1px 5px 0 rgba(0,0,0,0.2) !important;
  background-color: var(--lt);
  padding: 2.5px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  color: var(--dk);
}

.expenses-input {
  background-color: var(--lt) !important;
}
