<div class="expenses-add-container awg-flex-col">

  <div class="expenses-add-form-container">
    <div class="expenses-add-form-header">Create An Expense</div>
    <div class="expenses-add-input-block">
      <input class="awgl-form-input form-control expenses-input" name="expense-description" ng-model="$ctrl.description"
        type="text" placeholder="Describe your Expense" />
    </div>
    <div class="expenses-add-input-block">
      <input ng-change="$ctrl.updateTransactions()" class="awgl-form-input form-control expenses-input" name="expense-amount"       ng-model="$ctrl.amount"
        type="number" placeholder="What was the total?" />
    </div>

    <div class="expenses-added-people-container awg-flex-col">

      <div class="expenses-added-people-area">
        <div class="dropdown expenses-add-dropdown-container">
          <div class="dropdown-toggle" id={{'dd-'+$ctrl.expense._id}} data-toggle="dropdown">
            <div ng-if="$ctrl.payerToggle === false" class="expenses-add-payer-description">
              <button class="awgd-button">Paid By</button>
            </div>
          </div>
          <div class="dropdown-menu dropdown-menu-right">
            <expenses-add-people-card
              class="dropdown-item"
              toggle="$ctrl.togglePayer"
              amount="$ctrl.amount"
              ng-repeat="member in $ctrl.members"
              member="member"
            />
          </div>
        </div>

        <expenses-add-people-card
          ng-show="$ctrl.payerToggle === false"
          ng-repeat="payer in $ctrl.payers"
          class="ng-show"
          member="payer"
          is-payer="true"
          transaction-type="$ctrl.transactionType"
        />
      </div>

      <div class="expenses-added-people-area">
        <div class="dropdown expenses-add-dropdown-container">
          <div class="dropdown-toggle" id={{'dd-'+$ctrl.expense._id}} data-toggle="dropdown">
            <div class="expenses-add-owers-description">
              <div class="awgd-button">{{$ctrl.transactionType === 'custom' ? 'Custom Split Among':'Split Equally Among'}}</div>
            </div>
          </div>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-item" ng-click="$ctrl.toggleTransactionType('equal')">Split Equally</div>
            <div class="dropdown-item" ng-click="$ctrl.toggleTransactionType('custom')">Custom Input</div>
          </div>
        </div>

          <expenses-add-people-card
            toggle="$ctrl.toggleOwer"
            amount="$ctrl.amount"
            ng-repeat="member in $ctrl.members"
            member="member"
            transaction-type="$ctrl.transactionType"
          />
      </div>
    </div>

    <div ng-if="$ctrl.formWarning" class="awgl-form-warning awg-flex awg-flex-center">
      <span>{{$ctrl.formWarning}}</span>
    </div>

    <div ng-if="$ctrl.transactions.length > 0" class="expenses-added-transactions-header">Added Transactions</div>
    <div ng-repeat="member in $ctrl.transactions" class="expenses-added-transactions-card">{{member.from.name}} owes {{member.amount | currency:"$"}} to {{member.to.name}}</div>

    <div class="expenses-add-controls">
      <a ui-sref="^.main.feed" class="expenses-add-back-container">
        <button class="awgd-button"><i class="material-icons">arrow_back</i></button>
      </a>
      <div class="expenses-add-save-container">
        <button ng-click="$ctrl.addExpense()" class="awgd-button">Save Expense</button>
      </div>
    </div>
  </div>
</div>
