<div ng-show="$ctrl.showAddPeople === false" class="ng-show expenses-add-container flex-col">
  <div class="expenses-add-header"><span>Who Paid? <button ng-click="$ctrl.toggleShowAddPeople(true)">+</button></span></div>
  <div class="expenses-add-payers" ng-repeat="payer in $ctrl.payers">{{payer.name}}</div>
  <span>Who owes money?<button ng-click="$ctrl.toggleShowAddPeople()">+</button></span>
  <div class="expenses-add-owers" ng-repeat="member in $ctrl.transactions">{{member.from.name}}</div>
  <div class="expenses-add-form-container">
    <form name="newExpense" ng-submit="$ctrl.submit()">
      <div class="expenses-add-input-block">
        <label for="expense-description">Describe your expense</label>
        <input class="awgl-form-input form-control" name="expense-description" ng-model="$ctrl.description"
          type="text" placeholder="Expense Description" />
      </div>
      <div class="expenses-add-input-block">
        <label for="expense-amount">Amount</label>
        <input ng-change="$ctrl.updateTransactions()" class="awgl-form-input form-control" name="expense-amount" ng-model="$ctrl.amount"
          type="number" placeholder="Expense Amount" />
      </div>
      <div class="expenses-add-people-share-option">
        <label for="share">Share Equally</label>
        <input  name="share" type="radio" ng-model="$ctrl.transactionType" value="equal"/>
        <label for="share">Share Percentage</label>
        <input  name="share" type="radio" ng-model="$ctrl.transactionType" value="percentage"/>
      </div>

      <div ng-if="$ctrl.formWarning" class="awgl-form-warning flex flex-center">
        <span>{{$ctrl.formWarning}}</span>
      </div>
      <div ng-repeat="member in $ctrl.transactions" class="expenses-added-people">{{member.from.name}} owes {{member.amount}} to {{member.to.name}}</div>

      <div class="expenses-add-controls">
        <a ui-sref="^.main" class="expenses-add-back-container">
          <button class="awgd-button"><i class="material-icons">arrow_back</i></button>
        </a>
        <div class="expenses-add-save-container">
          <button ng-click="$ctrl.addExpense()" class="awgd-button">Add to expense</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div ng-show="$ctrl.showAddPeople === true && $ctrl.payerToggle === false" class="ng-show expenses-add-container flex-col">
  <expenses-add-people selected-members="$ctrl.transactions" toggle-member="$ctrl.toggleMember" members="$ctrl.members" amount="$ctrl.amount" />
</div>

<div ng-show="$ctrl.showAddPeople === true && $ctrl.payerToggle === true" class="ng-show expenses-add-container flex-col">
  <expenses-add-people selected-members="$ctrl.transactions" toggle-member="$ctrl.toggleMember" members="$ctrl.members" amount="$ctrl.amount" />
</div>
