<div ng-show="$ctrl.showAddPeople === false" class="ng-show expenses-add-container flex-col">
  <div class="expenses-add-header"><span>Awesome! <br /> Let's get started</span></div>
  <div class="expenses-add-form-container">
    <form name="newExpense" ng-submit="$ctrl.submit()">
      <div class="expenses-add-input-block">
        <label for="expense-description">Describe your expense</label>
        <input class="awgl-form-input form-control" name="expense-description" ng-model="$ctrl.description"
          type="text" placeholder="Expense Description" />
      </div>
      <div class="expenses-add-input-block">
        <label for="expense-amount">Amount</label>
        <input class="awgl-form-input form-control" name="expense-amount" ng-model="$ctrl.amount"
          type="number" placeholder="Expense Amount" />
      </div>

      <button ng-click="$ctrl.toggleShowAddPeople()" class="awgd-button"> Add friends to expense </button>
      <div ng-if="$ctrl.formWarning" class="awgl-form-warning flex flex-center">
        <span>{{$ctrl.formWarning}}</span>
      </div>
      <div ng-repeat="member in $ctrl.displayCheckedMembers" class="expenses-added-people">{{member}}</div>

      <div class="expenses-add-controls">
        <a ui-sref="^.main" class="expenses-add-back-container">
          <button class="awgd-button"><i class="material-icons">arrow_back</i></button>
        </a>
        <div class="expenses-add-save-container">
          <button class="awgd-button">Add to expense</button>
        </div>
      </div>
    </form>
  </div>
</div>


<div ng-show="$ctrl.showAddPeople === true" class="ng-show expenses-add-container flex-col">
  <expenses-add-people toggle-member="$ctrl.toggleMember" members="$ctrl.members" amount="$ctrl.amount" />
</div>
