<div class="people-add-container h100">
  <div class="people-add-header">
    <span>Import your contacts</span>
  </div>
  <div ng-if="$ctrl.allContacts.length"> We found {{$ctrl.allContacts.length}} contacts. Invite them below</div>

  <div ng-if="$ctrl.loadingContacts">Loading your contacts...</div>
  <div ng-if="$ctrl.allContacts.length === 0" class="flex flex-col flex-align-center h100">
    <button type="submit" class="awgl-button floating-center-button" name="get-contacts" ng-click="$ctrl.getGoogleContacts()">Import contacts</button>
  </div>

  <friend-card ng-repeat="friend in $ctrl.availableFriends"  | filter="$ctrl.filterFriends"
  user="friend" type="invite" checked="friend.status"
  toggle="$ctrl.toggleSelect"></friend-card>
  <!--  -->
</div>

