<div class="people-add-container h100">
  <div class="people-add-header">
    <span>Import your contacts</span>
  </div>
  <people-card ng-repeat="friend in $ctrl.availableFriends | filter:$ctrl.filterFriends"
    user="friend.user" type="select" checked="friend.status"
    toggle="$ctrl.toggleSelect"
  ></people-card>
  <div class="people-add-controls">
    <a ui-sref="^.list" class="people-add-back-container">
      <button class="awgd-button"><i class="material-icons">arrow_back</i></button>
    </a>
    <div class="people-add-save-container">
      <button ng-click="$ctrl.addToPlan()" class="awgd-button">Add to Plan</button>
    </div>
  </div>
</div>
