.no-people {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  color: var(--dk5);
  font-size: 1.1em;
}

.people-list-add-button-container {
  margin: 20px auto 0 auto;
  width: 50%;
}
