<div class="people-list-container h100">
  <div class="people-section-header header-shadow">
    <span>People in {{$ctrl.GroupService.currentGroup.title}}</span>
  </div>
  <people-card ng-repeat="member in $ctrl.GroupService.currentGroup.members"
    member="member" type="member" user="$ctrl.UserService.user"
    owner-id="$ctrl.GroupService.currentGroup.userId">
  </people-card>
  <div ng-if="$ctrl.GroupService.currentGroup.members.length === 0" class="no-people">
    <span>Aww - no members yet, why don't you add somebody?</span>
  </div>
  <div class="people-list-add-button-container">
    <a ui-sref="^.add">
      <button class="awgd-button">Add People</button>
    </a>
  </div>
</div>
