.group-nav-container {
  display: flex;
  order: 99;
  flex: 0 0 auto;
  z-index: 99;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  border-top: 1px solid var(--da);
}

.group-nav-item-container {
  flex: 1 0 0;
  display: flex;
  height: 64px;
  background-color: var(--lt);
  border-right: 1px solid var(--la);
}

.group-nav-item-container:last-child {
  border-right: none;
}

.group-nav-button {
  width: 100%;
  height: 100%;
  padding: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
}

.group-nav-button span {
  font-size: .7em;
  font-variant: small-caps;
}

.group-nav-button .material-icons,
.group-nav-button span {
  color: var(--dk5);
}

.group-nav-active {
  background: var(--m5);
}

.group-nav-active .material-icons,
.group-nav-active .group-nav-button span {
  color: white;
}

.group-nav-item-container:hover:not(.group-nav-active) {
  background-color: var(--m2);
}
