.share-idea-content {
  display: flex;
  flex-direction: column;
}

.share-idea-button {
  flex: 1;
}

.share-idea-button h3 {
  text-align: center;
}

.share-idea-button button {
  cursor: pointer;
}