.share-idea-button {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.share-idea-button h3 {
  text-align: center;
}

.share-idea-button button {
  align-self: center;
  cursor: pointer;
  width: 50%;
}