<div class="make-idea-container full-window overflow awg-flex-col awg-flex-start awg-flex-align-stretch">
  <div class="make-idea-header header">
    <a ui-sref="^.ideas"><i class="material-icons">navigate_before</i></a>
    <span>Share an idea</span>
  </div>
  <div class="make-idea-form-container">
    <form name="newIdea">
      <div class="make-idea-input-block">
        <label class="sr-only" for="idea-title">Idea name</label>
        <input class="awgl-form-input form-control" name="idea-title" ng-model="$ctrl.title"
          type="text" placeholder="Idea name" />
      </div>
      <div class="make-idea-input-block">
        <label class="sr-only" for="description">Description</label>
        <textarea class="awgl-form-input form-control" name="idea-desc" ng-model="$ctrl.desc"
          type="text" rows=2 placeholder="Description (optional)"></textarea>
      </div>
      <div class="make-idea-input-block">
        <label class="sr-only" for="plan-image">Background picture</label>
        <image-search image-url="$ctrl.imageUrl"></image-search>
      </div>
      <div ng-if="$ctrl.formWarning" class="awgl-form-warning awg-flex awg-flex-center">
        <span>{{$ctrl.formWarning}}</span>
      </div>
      <div class="make-idea-submit-container awg-flex awg-flex-center">
        <div class="make-idea-submit-button-container">
          <button type="button" ng-click="$ctrl.submit()"
            class="awgd-button" name="make-idea-submit">Submit your idea</button>
        </div>
      </div>
    </form>
  </div>
</div>
