<div class="expense-add-people-card-container"
  ng-class="{'expense-add-people-card-selected': !!$ctrl.checked}"
  ng-click="$ctrl.clickPerson()">
  <div class="expense-add-people-card-avatar">
    <img ng-if="$ctrl.member.profilePic" ng-src="{{$ctrl.member.profilePic}}" class="avatar">
    <i ng-if="!$ctrl.member.profilePic" class="material-icons">account_circle</i>
  </div>
  <div class="expense-add-people-card-content">
    <div class="expense-add-people-card-name">{{$ctrl.member.name}}</div>
  </div>

  <div class="expense-add-people-card-actions">
    <div class="expense-add-people-card-actions-icon-container">
      <i ng-if="$ctrl.checked" class="material-icons">check_box</i>
      <i ng-if="!$ctrl.checked" class="material-icons">check_box_outline_blank</i>
    </div>
  </div>
</div>
