.transaction-page-container {
  padding: 10px;
  padding-bottom: 70px;
}

.transaction-page-label-container {
  justify-content: space-between;
}

.transaction-page-label-item {
  padding: 0 5px;
  color: var(--dk3);
  font-size: 0.9em;
}
