.transaction-page-container {
  padding: 10px;
}

.transaction-page-label-container {
  justify-content: space-between;
}

.transaction-page-label-item {
  padding-right: 10px;
  color: var(--dk3);
}
