.transaction-page-container {
  padding: 10px;
  padding-bottom: 70px;
  height: 100%;
  overflow: auto;
}

.transaction-page-label-container {
  justify-content: space-around;

}

.transaction-page-label-item {
  padding: 0 5px;
  color: var(--dk3);
  font-size: 0.9em;
  flex: 1 1 20%;
  display: flex;
  justify-content: center;
}
