<div class="confirm-modal-container" ng-if="$ctrl.ConfirmService.modalIsOpen">
  <div class="confirm-container card-shadow">
    <div class="confirm-title">
        <span>{{$ctrl.ConfirmService.title}}</span>
    </div>
    <div class="confirm-desc">
      <span>{{$ctrl.ConfirmService.desc}}</span>
    </div>
    <div class="confirm-actions-container">
      <button class="awgl-button confirm-cancel" ng-click="$ctrl.ConfirmService.modalCancelClick()">
        {{$ctrl.ConfirmService.cancelLabel}}
      </button>
      <button class="awgd-button confirm-ok" ng-click="$ctrl.ConfirmService.modalOkClick()">
        {{$ctrl.ConfirmService.okLabel}}
      </button>
    </div>
  </div>
</div>
