<div class="confirm-modal-container" ng-if="$ctrl.ConfirmService.modalIsOpen"
    ng-click="$ctrl.ConfirmService.closeModal()">
  <div class="confirm-container card-shadow" ng-click="$event.stopPropagation()">
    <div class="confirm-prompt">
        <span>{{$ctrl.ConfirmService.prompt}}</span>
    </div>
    <div class="confirm-comment">
      <span>{{$ctrl.ConfirmService.comment}}</span>
    </div>
    <div class="confirm-actions-container">
      <button class="awgl-button confirm-cancel"
        ng-click="$ctrl.ConfirmService.modalCancelClick($event)">
        {{$ctrl.ConfirmService.cancelLabel}}
      </button>
      <button class="awgd-button confirm-ok"
        ng-click="$ctrl.ConfirmService.modalOkClick($event)">
        {{$ctrl.ConfirmService.okLabel}}
      </button>
    </div>
  </div>
</div>
