<div class="confirm-modal-container">
  <div class="confirm-container">
    <div class="confirm-title">
        <span>{{$ctrl.ConfirmService.title}}</span>
    </div>
    <div class="confirm-desc">
      <span>{{$ctrl.ConfirmService.desc}}</span>
    </div>
    <div class="confirm-actions-container">
      <button class="awgl-button" ng-click="$ctrl.modalCancelClick()">
        {{$ctrl.ConfirmService.cancelLabel}}
      </button>
      <button class="awgl-button" ng-click="$ctrl.modalOkClick()">
        {{$ctrl.ConfirmService.okLabel}}
      </button>
    </div>
  </div>
</div>
