<div class="make-idea-container flex-col flex-start flex-align-stretch">
  <div class="make-idea-header"><span>Awesome! <br /> Let's get started</span></div>
  <div class="make-idea-form-container">
    <form ng-submit="$ctrl.submit()">
      <div class="make-idea-input-block">
        <label for="idea-title">Give your idea a name:</label>
        <input class="awgl-form-input form-control" id="idea-title" ng-model="$ctrl.title"
          type="text" placeholder="Idea name" />
      </div>
      <div class="make-idea-input-block">
        <label for="description">Next, what do you want to suggest?</label>
        <div class="make-idea-input-block-small"><small>(you can skip this part)</small></div>
        <textarea class="awgl-form-input form-control" id="idea-desc" ng-model="$ctrl.desc"
          type="text" rows=2></textarea>
      </div>
      <div class="make-idea-input-block">
        <label for="idea-image">Last, how about a background picture?</label>
        <input class="awgl-form-input form-control" id="idea-image" ng-model="$ctrl.imageUrl"
          type="text" placeholder="Image url" />
      </div>
      <div ng-if="$ctrl.formWarning" class="awgl-form-warning flex flex-center">
        <span>{{$ctrl.formWarning}}</span>
      </div>
      <div class="make-idea-submit-container flex flex-center">
        <div class="make-idea-submit-button-container">
          <button type="submit" class="awgl-button" id="make-idea-submit">Start Ideaning</button>
        </div>
      </div>
    </form>
  </div>
</div>
