<div class="people-add-container full-window bgc-0">
  <spinner-box busy="$ctrl.busy"></spinner-box>
  <div class="people-add-header header">
    <a ui-sref="^.list"><i class="material-icons">navigate_before</i></a>
    <span>Add friends to {{$ctrl.GroupService.currentGroup.title}}</span>
  </div>
  <div class="people-search-container awg-flex">
    <input class="awgl-form-input form-control" name="search" type="text"
    ng-model="$ctrl.search" ng-model-options="{ debounce: 100 }"
    placeholder="Filter friends list" required/>
  </div>
  <people-card ng-repeat="friend in $ctrl.availableFriends | filter:$ctrl.filterFriends"
    ng-click="$ctrl.toggleSelect(friend.user._id)"
    member="friend.user" type="select" user="$ctrl.UserService.user"
    owner-id="$ctrl.GroupService.currentGroup.userId"
    selected="friend.selected">
  </people-card>
  <div class="people-add-controls">
    <a ui-sref="^.list" class="people-add-back-container">
      <button class="awgd-button"><i class="material-icons">arrow_back</i></button>
    </a>
    <div class="people-add-save-container">
      <button ng-click="$ctrl.addToGroup()" class="awgd-button">Add to Group</button>
    </div>
  </div>
</div>
