.people-add-container {
  padding-bottom: 100px !important;
}

.people-search-container {
  margin-top: -8px;
  margin-bottom: 10px;
}

.people-search-container .awgl-form-input {
  padding: 8px;
  font-size: 1em;
  border: none;
}

.people-add-controls {
  position: fixed;
  bottom: 80px;
  left: 50%;
  margin-left: -67px;
  display: flex;
  justify-content: space-between;
}

.people-add-save-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.people-add-save-container .awgd-button {
  padding-left: 20px;
  padding-right: 20px;
}

.people-add-back-container {
  margin-right: 20px;
}

.people-add-controls .material-icons {
  display: flex;
}
