<div class="people-card-container"
  ng-class="{'people-card-selected': !!$ctrl.checked}"
  ng-click="$ctrl.handleContainerClick()">
  <spinner-box busy="$ctrl.busy"></spinner-box>
  <div class="people-card-avatar">
    <i class="material-icons">account_circle</i>
  </div>
  <div class="people-card-content">
    <div class="people-card-name">{{$ctrl.member.name}}</div>
    <div class="people-card-email">{{$ctrl.member.email}}</div>
  </div>
  <div ng-if="$ctrl.canRemoveOrSelect()" class="people-card-actions">
    <div ng-if="$ctrl.type === 'member'" class="people-card-actions-icon-container">
      <i ng-click="$ctrl.remove($ctrl.user._id)" class="material-icons">clear</i>
    </div>
    <div ng-if="$ctrl.type === 'select'" class="people-card-actions-icon-container">
      <i ng-if="$ctrl.selected" class="material-icons">check_box</i>
      <i ng-if="!$ctrl.selected" class="material-icons">check_box_outline_blank</i>
    </div>
  </div>
</div>
