<div class="transaction-page-container">
  <div class="transaction-page-header flex">
    <div class="transaction-page-description"><b>Description</b></div>
    <div class="transaction-page-from"><b>From</b></div>
    <div class="transaction-page-to"><b>To</b></div>
    <div class="transaction-page-amount"><b>Amount</b></div>
    <div class="transaction-page-amount"><b>Settle</b></div>
    <div class="transaction-page-amount"><b>Delete</b></div>
  </div>
  <transaction-card ng-repeat="transaction in $ctrl.filteredTransactions" transaction="transaction" settle-transaction="$ctrl.settleTransaction"/>
  <div class="transaction-page-empty" ng-if="$ctrl.filteredTransactions.length === 0">No open transactions are available</div>
  <div class="expenses-add-controls">
    <a ui-sref="^.^.main.feed" class="expenses-add-back-container">
      <button class="awgd-button"><i class="material-icons">arrow_back</i></button>
    </a>
  </div>
</div>
