.ideas-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  /*overflow-x: hidden;*/
  padding: 10px 20px;
  background-color: var(--m0);
}

.align-bottom.button {

}