.promote-idea-popup-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: hsla(203, 30%, 80%, .5);
}

.promote-idea-container {
  background-color: var(--lt);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  padding: 10px;
}

.promote-idea-input-block {
  margin-bottom: 15px;
}

.date-time {
  display: flex;
}

.picker {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

.promote-idea-submit-button-container {
  margin-top: 15px;
  width: 100%;
}

/* overriding some ng-material and md-pickers styles */
.promote-idea-container md-input-container {
  margin-top: 10px;
  margin-bottom: 0px;
}
.promote-idea-container md-input-container .md-errors-spacer {
  min-height: 10px;
}
.promote-idea-container md-input-container label {
  margin-bottom: 0;
}
.promote-idea-container .md-button.md-icon-button {
  margin-top: 10px;
  margin-bottom: 0px;
}
