<div class="promote-idea-container awg-flex-col awg-flex-start awg-flex-align-stretch">
  <div class="promote-idea-header"><span>Let's schedule this</span></div>
  <div class="promote-idea-form-container">
    <form name="newIdea" ng-submit="$ctrl.submit()">
      <div class="promote-idea-input-block">
        <label for="idea-title">Title</label>
        <input class="awgl-form-input form-control" name="idea-title" ng-model="$ctrl.event.title"
          type="text" placeholder="Idea name" />
      </div>
      <div class="promote-idea-input-block">
        <label for="idea-title">Location</label>
        <address-search address-name="$ctrl.addressName" address-text="$ctrl.addressText" address-link="$ctrl.addressLink"></address-search>
      </div>
      <div class="promote-idea-input-block">
        <div class="awg-flex">
          <div class="awg-flex-col awg-flex-1">
            <label for="idea-start-time">Start time:</label>
            <div class="awgl-form-input form-control" moment-picker="$ctrl.event.startTime" format="MM/DD/YYYY hh:mm A" change="$ctrl.onStartDateChange(newValue, oldValue)" value="$ctrl.moment()">
              {{ $ctrl.formattedStartTime }}
            </div>
          </div>
        </div>
      </div>
      <div class="promote-idea-input-block">
        <div class="awg-flex">
          <div class="awg-flex-col awg-flex-1">
            <label for="idea-end-time">End time:</label>
            <div class="awgl-form-input form-control" moment-picker="$ctrl.event.endTime" format="MM/DD/YYYY hh:mm A" change="$ctrl.onEndDateChange(newValue, oldValue)" value="$ctrl.moment()">
              {{ $ctrl.formattedEndTime}}
            </div>
          </div>
        </div>
      </div>
      <div class="promote-idea-input-block">
        <label for="description">Description</label>
        <textarea class="awgl-form-input form-control" name="idea-desc" ng-model="$ctrl.event.description"
          type="text" rows=2></textarea>
      </div>
      <div class="promote-idea-input-block" ng-if="$ctrl.stateParams.eventId === 'new'">
        <label for="plan-image">Last, how about a background picture?</label>
        <image-search image-url="$ctrl.event.imageUrl"></image-search>
      </div>
      <div ng-if="$ctrl.formWarning" class="awgl-form-warning awg-flex awg-flex-center">
        <span>{{$ctrl.formWarning}}</span>
      </div>
      <div class="promote-idea-submit-container awg-flex awg-flex-center">
        <div class="promote-idea-submit-button-container">
          <button type="submit" class="awgl-button" name="promote-idea-submit">Schedule event</button>
        </div>
      </div>
    </form>
  </div>
</div>
