.promote-idea-popup-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: hsla(203, 30%, 80%, .5);
  z-index: 50;
}

.promote-idea-container {
  background-color: var(--lt);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  padding: 10px;
}

.promote-idea-container .header {
  border-bottom: none;
}

.promote-idea-input-block {
  margin-bottom: 15px;
}

.date-time-pickers {
  margin-bottom: 15px;
}

.date-time {
  position: relative;
  display: flex;
}

.promote-idea-cancel-time-container {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 2px;
}

.promote-idea-cancel-time-container .material-icons {
  color: var(--da);
}

.picker {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

.promote-idea-submit-button-container {
  flex: 1;
  margin: 10px;
}

.promote-idea-end-option {
  margin-top: -15px;
  padding-left: 10px;
  color: var(--dk3);
  font-size: 1.1em;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
}

/* overriding some ng-material and md-pickers styles */
.promote-idea-container md-input-container {
  margin-top: 10px;
  margin-bottom: 0px;
}
.promote-idea-container md-input-container .md-errors-spacer {
  min-height: 10px;
}
.promote-idea-container md-input-container label {
  margin-bottom: 0;
}
.promote-idea-container .md-button.md-icon-button {
  margin-top: 10px;
  margin-bottom: 0px;
}
