.itinerary-card {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
    0 3px 1px -2px rgba(0,0,0,0.12),
    0 1px 5px 0 rgba(0,0,0,0.2) !important;
  background-color: var(--lt);
  border-radius: 3px;
  margin-bottom: 15px;
  padding: 10px;
  min-width: 300px;
  max-width: 500px;
}

.itinerary-card-main-container {
  margin-bottom: 10px;
  border-bottom: 1px solid var(--la);
}

.itinerary-card-image-container {
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: 5px;
}

.itinerary-card-image-container img {
  width: 100%;
  height: auto;
  border-radius: 3px;
}

.itinerary-card-header {
  font-size: 1.1em;
  color: var(--dk3);
  text-decoration: none !important;
}

.itinerary-card-details-container {
  font-size: .9em;
}

.itinerary-card-footer {
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 0 20px;
}

.itinerary-card-footer-left {
  justify-content: space-between;
}

.itinerary-card-button {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.itinerary-card-button:hover {
  color: var(--m3);
}
