<div class="transaction-card-container">
  <div class="transaction-card-description">{{$ctrl.transaction.description}}</div>
  <div class="transaction-card-from">{{$ctrl.transaction.from.name}}</div>
  <div class="transaction-card-to">{{$ctrl.transaction.to.name}}</div>
  <div class="transaction-card-amount">{{$ctrl.transaction.amount | currency:"$"}}</div>
  <div class="transaction-card-settle" ng-click="$ctrl.settleTransaction($ctrl.transaction._id)">Settle</div>
  <div class="transaction-card-delete" ng-click="$ctrl.deleteTransaction($ctrl.transaction._id)">Delete</div>
</div>
