.expenses-summary-card {
  justify-content: space-around;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
      0 3px 1px -2px rgba(0,0,0,0.12),
      0 1px 5px 0 rgba(0,0,0,0.2) !important;
  background-color: var(--lt);
  padding: 10px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}


.expenses-summary-header {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid var(--dk3);
}

.expenses-summary-header-item {
  display: flex;
  flex: 1 0 auto;
  justify-content: space-around;
}


.expenses-summary-header-title,
.expenses-summary-header-amount-owe,
.expenses-summary-header-amount-receive {
  font-size: 1.1em;
}

.expenses-summary-body {
  display: flex;
  justify-content: center;
}

.expenses-summary-body-container {
  flex: 1 0 auto;
  padding: 10px 10px 0 10px;
}



.expenses-summary-mini-card {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
      0 3px 1px -2px rgba(0,0,0,0.12),
      0 1px 5px 0 rgba(0,0,0,0.2) !important;
  background-color: var(--lla);
  font-size: 0.9em;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.expenses-summary-mini-card-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.expenses-summary-mini-card > div {
  padding-right: 5px;
}


.expenses-summary-header-amount-owe {
  color: palevioletred;
}

.expenses-summary-header-amount-receive {
  color: green;
}
