<div class="expenses-summary-card">
  <div class="expenses-summary-header">
    <div class="expenses-summary-header-item">You owe:
      <div class="expenses-summary-header-amount">$45.00</div>
    </div>
    <div class="expenses-summary-header-item">You receive:
      <div class="expenses-summary-header-amount">$75.00</div>
    </div>
  </div>
  <div class="expenses-summary-body">
    <div class="expenses-summary-body-container">
      <transaction-card ng-repeat="transaction in $ctrl.ExpensesService.consolidatedTransactions" transaction="transaction" />
    </div>
    <div class="expenses-summary-body-container">
      <transaction-card ng-repeat="transaction in $ctrl.ExpensesService.consolidatedTransactions" transaction="transaction" />
    </div>

  </div>

</div>
