.itinerary-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  /*overflow-x: hidden;*/
  padding: 10px 20px;
  background-color: var(--m0);
  justify-content: center;
  align-items: center;
}

.no-events-container h3 {
  text-align: center;
}

.go-to-ideas-button {
}