<div class="itinerary-container">
  <itinerary-card event="event" ng-repeat="event in $ctrl.events" ng-if="event.status === 'itinerary'" demote-event="$ctrl.demoteEvent" delete-event="$ctrl.deleteEvent"/>
  <div class="no-events-container" ng-if="!$ctrl.events || $ctrl.events.length === 0">
    <h3>No events currently scheduled</h3>
    <button class="go-to-ideas-button awgd-button" ui-sref="app.plan.planner.ideas">
      <span>Go to your ideas page!</span>
    </button>
  </div>
</div>
