.friends-add-container {
  margin-top: -10px;
  position: absolute;
  color: white;
  width: 100%;
  z-index: 99;
}

.friends-add-header {
  font-size: 1.2em;
  color: var(--dk5);
  margin-bottom: 10px;
}

.friends-search-container .awgl-form-input {
  font-size: 1em;
  padding: 10px;
  margin-right: 5px;
}

.friends-add-button {
  padding: 2px !important;
  display: flex;
}

.friends-request-container {
  margin: 20px 0;
  width: 100%;
  color: var(--dk3);
}

.friends-request-message {
  font-size: 1em;
  margin-right: 10px;
  color: var(--dk3);
}
