<div class="friends-add-container" ng-click="$event.stopPropagation()">
  <div class="friends-add-header">
    <span>Search by email to add a friend:</span>
  </div>
  <div class="friends-search-container flex">
    <input class="awgl-form-input form-control" name="email" type="email"
    ng-model="$ctrl.email" ng-model-options="{ debounce: 400 }"
    ng-change="$ctrl.searchForFriend()"
    placeholder="Friend's email address" required/>
  </div>
  <div ng-if="$ctrl.searchStatus === 'foundUser'" class="friends-request-container">
    <div class="friends-request-message">
      Awesome! We found {{$ctrl.frCard.to.name}}, want to send a friend request?
    </div>
    <div>
      <friend-card type="request" user="$ctrl.frCard.to" request="$ctrl.requestFriend"></friend-card>
    </div>
  </div>
  <div ng-if="$ctrl.searchStatus === 'invite'" class="friends-request-container">
    <div class="friends-request-message">
      Can't find that user, do you want to invite them to Away We Go?
    </div>
    <div>
      <friend-card type="invite" user="$ctrl.frCard.to" invite="$ctrl.inviteFriend"></friend-card>
    </div>
  </div>
  <div ng-if="$ctrl.searchStatus === 'friends'" class="friends-request-container">
    <div class="friends-request-message">
      You're already friends with that user
    </div>
    <div>
      <friend-card type="friends" user="$ctrl.frCard.to"></friend-card>
    </div>
  </div>
  <div ng-if="$ctrl.searchStatus === 'pending'" class="friends-request-container">
    <div class="friends-request-message">
      That user is waiting for you to respond to their friend request!
    </div>
    <div>
      <friend-card type="pending" user="$ctrl.frCard.to" fr-id="$ctrl.frCard._id"
        accept="$ctrl.acceptFriend"
        reject="$ctrl.rejectFriend"></friend-card>
    </div>
  </div>
  <div ng-if="$ctrl.searchStatus === 'sent'" class="friends-request-container">
    <div class="friends-request-message">
      You've already sent that user a request
    </div>
    <div>
      <friend-card type="sent" user="$ctrl.frCard.to" fr-id="$ctrl.frCard._id"
      cancel="$ctrl.cancelFriend"></friend-card>
    </div>
  </div>
</div>
