<div class="expenses-feed-card awg-flex" ng-click="$ctrl.ExpensesService.changeFilterExpense($ctrl.expense)">
  <div class="expenses-feed-card-item awg-flex-1" ui-sref="^.^.main.transactions">{{$ctrl.expense.description}}</div>
  <div
  class="expenses-feed-card-item">{{$ctrl.expense.amount | currency:"$"}}</div>
  <div class="dropdown expenses-feed-card-dropdown-container"
    ng-if="$ctrl.menuShouldAppear()">
    <div class="dropdown-toggle" id={{'dd-'+$ctrl.expense._id}} data-toggle="dropdown">
      <i class="material-icons">more_vert</i>
    </div>
    <div class="dropdown-menu dropdown-menu-right">
      <div class="dropdown-item"
        ng-click="$ctrl.handleDelete()">
        Delete Expense
      </div>
    </div>
  </div>
</div>
