.expenses-feed-card {
  justify-content: space-between;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
      0 3px 1px -2px rgba(0,0,0,0.12),
      0 1px 5px 0 rgba(0,0,0,0.2) !important;
  background-color: var(--lt);
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.expenses-feed-card-amount{
  color: var(--dk4);
  font-weight: bold;
}

.expenses-feed-card-date {
  font-size: 0.8em;
  font-style: italic;
  color: var(--da);
}

.expenses-feed-card-detail-slider {
  margin-top: 10px;
  border-top: 1px solid var(--la);
}

.expenses-feed-card-detail-item {
  color: var(--dk4);
}

.expenses-feed-card-detail-item span {
  color: var(--da);
}

.expenses-feed-card-dropdown-container .material-icons {
  color: var(--la);
  font-size: 1.2em;
}

.expenses-feed-card-info-container {
  margin-right: 5px;
}
