.expenses-feed-container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;
  height: 100%;
}

.expenses-feed-header {
  font-size: 0.8em;
  font-weight: bold;
  color: var(--dk3);
  text-decoration: underline;
}

.expenses-feed-item {
  padding-right: 10px;
  color: var(--dk3);
}

.expenses-feed-empty {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: center;
}

.expenses-feed-empty h3 {
  align-self: center;
  text-align: center;
  width: 50%
}

.expenses-feed-add-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
