.expenses-feed-container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;
  height: 100%;
}

.expenses-feed-header {
  font-size: 0.8em;
  font-weight: bold;
  color: var(--dk3);
  text-decoration: underline;
}

.expenses-feed-item {
  padding-right: 10px;
  color: var(--dk3);
}
