<div class="people-list-container h100">
  <div class="people-section-header">
    <span>People in this Plan</span>
  </div>
  <people-card ng-repeat="user in $ctrl.planMembers"
    user="user" type="member" self="$ctrl.UserService.user.id === user._id"
    owner="$ctrl.planOwner === user._id"
    remove="$ctrl.remove"
  ></people-card>
  <div ng-if="$ctrl.planMembers.length === 0" class="no-people">
    <span>Aww - no members yet, why don't you add somebody?</span>
  </div>
  <div class="people-list-add-button-container">
    <a ui-sref="^.add">
      <button class="awgd-button">Add People</button>
    </a>
  </div>
</div>
