.people-list-container {
  background-color: var(--m0);
}

.people-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--m5);
  font-size: 1.3em;
  border-bottom: 1px solid var(--la);
  padding: 5px 10px;
  background-color: var(--lt);
  box-shadow: 0 1px 1px var(--dk5);
}

.no-people {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  color: var(--dk5);
  font-size: 1.1em;
}

.people-list-add-button-container {
  margin: 20px auto 0 auto;
  width: 50%;
}
