<div class="group-card-container flex-col">
  <div class="group-card-main-container">
    <img class="group-card-image" ng-src={{$ctrl.group.imageUrl}} alt=""/>
    <div class="group-card-info-container">
      <div class="group-card-title" ui-sref="app.group.feed({groupId: $ctrl.group._id})" ><span>{{$ctrl.group.title}}</span></div>
      <div class="group-card-description"><span>{{$ctrl.group.description}}</span></div>
    </div>
    <a ng-if="$ctrl.UserService.user.id === $ctrl.group.userId"
      class="group-card-delete" ng-click="$ctrl.deleteGroup($ctrl.group._id)">
      <i class="material-icons">clear</i>
    </a>
  </div>
  <div class="group-card-bottom-menu">
      <a class="group-card-more-details" href = "" ui-sref="app.group.feed({groupId: $ctrl.group._id})">
        <span>More Details</span>
      </a>
  </div>
</div>
