.group-card-container {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
    0 3px 1px -2px rgba(0,0,0,0.12),
    0 1px 5px 0 rgba(0,0,0,0.2) !important;
  background-color: var(--lt);
  border-radius: 3px;
  margin-bottom: 15px;
  padding: 10px;
}

.group-card-main-container {
  display: flex;
  align-items: flex-start;
}
.group-card-info-container {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 1 auto;
}

.group-card-title {
  font-size: 1.3em;
  color: var(--dk3);
  text-decoration: none !important;
  cursor: pointer;
}

.group-card-delete {
  flex: 0 0 30px;
  cursor: pointer;
}

.group-card-delete i:hover,
.group-card-more-details:hover,
.group-card-title:hover {
  color: var(--m3);
}

.group-card-bottom-menu {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
}
.group-card-bottom-menu a {
  text-decoration: none;
}

.group-card-more-details {
  display: flex;
  margin-top: 10px;
}

.group-card-image {
  flex: 0 0 auto;
  width: 150px;
  height: 150px;
}
