<div class="group-card-container awg-flex-col">
  <div class="group-card-main-container">
    <img class="group-card-image" ng-src={{$ctrl.group.imageUrl}} alt=""/>
    <div class="group-card-info-container">
      <div class="group-card-title" ui-sref="app.group.home({groupId: $ctrl.group._id})" ><span>{{$ctrl.group.title}}</span></div>
      <div class="group-card-description"><span>{{$ctrl.group.description}}</span></div>
    </div>
    <div class="dropdown" ng-click="$event.preventDefault();">
      <div class="dropdown-toggle" id={{'dd-'+$ctrl.group._id}} data-toggle="dropdown">
        <i class="material-icons">more_vert</i>
      </div>
      <div class="dropdown-menu dropdown-menu-right">
        <div ng-if="$ctrl.canDelete()"
          class="dropdown-item" ng-click="$ctrl.deleteGroup()">
          Delete Group
        </div>
        <div ng-if="$ctrl.canLeave()"
          class="dropdown-item" ng-click="$ctrl.leaveGroup()">
          Leave Group
        </div>
      </div>
    </div>
  </div>
  <spinner-box busy="$ctrl.busy"></spinner-box>
</div>
